<div class="container-fluid padded centered-maxed">
    <div class="row">
        <div class="col-md-6">
            <mat-card>
                <mat-card-title>
                    Search New Stocks
                </mat-card-title>

                <mat-list>
                    <mat-list-item *ngFor="let stock of userStocks">
                        {{stock.symbol}}
                    </mat-list-item>
                </mat-list>
            </mat-card>
        </div>
        <div class="col-md-6">
            <mat-card>
                <mat-card-title>
                    Your Stocks
                </mat-card-title>

                <mat-list *ngIf="stocks">
                    <mat-list-item *ngFor="let stock of stocks">
                        <h3 mat-line> {{stock.symbol}} </h3>
                        <p mat-line>
                            <span> {{stock.name}} </span>
                        </p>
                        <div></div>
                        <button mat-icon-button (click)="requestDelete(stock)">
                            <mat-icon class="mat-24">delete</mat-icon>
                        </button>
                    </mat-list-item>
                </mat-list>

                <mat-card-content *ngIf="!stocks">
                    Loading...
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>
